#kép{
 width: fit-content;
 height: fit-content;
}
#képes {
    height: min-content;
    width: min-content;
}
h1{
    color: white;
}
h3{
    color: white;
}
p{
    color: white;
}
/* unvisisted link  */
a:link{
    color: white;
}
/* visited link */
a:visited {
    color: brown;
  }
/* mouse over link */
a:hover {
    color: hotpink;
  }
 /* selected link */
a:active {
    color: black;
  } 
a{
 font-size: medium;
  }