body {
    background-color: #2767F6;
}
#logo {
    width: 100px;
    height: 100px;
}
#div{
   background-color:  #2767F6;
   color: white;
}
#nav {
    background-color: white;
}
#navos {
    color: black;
    background-color: white;
}
#tel{
    width: 50px;
}
a{
    color:blueviolet;
}