#cím{
    color: black;
}
p{
    font-weight: bolder;
}
#kép{
    width: 400px;
    height: 305px;
    
}

#kicsi{
    font-size: smaller;
    padding-left: 140px;
}
#kép2{
    width: 500px;
    height: 500px;
}