#cím{
    color: black;
}
p{
    font-weight: bolder;
    font-size: medium;
}
#kép{
    height: auto;
    width: auto;
    
}

#kicsi{
    font-size: smaller;
    ;
}
#kép2{
    width: 500px;
    height: 500px;
}